# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gb
*.bin
*.txt
*out
gameboi
*.dump
*.dum

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
